:root {
  --default-font: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  --white: #dfeefa;
  --gray: rgb(167, 182, 192);
  --dark-gray: rgb(110, 123, 133);
  --black: rgb(26, 25, 32);

  --green: rgb(2, 211, 47);
  --blue: rgb(0, 170, 248);
  --teal: rgb(0, 255, 255);
  --slate-blue: rgb(111, 166, 191);
  --yellow: rgb(255, 255, 0);
  --pink: rgb(253, 148, 148);
  --magenta: rgb(255, 0, 255);
  --red: rgb(235, 45, 86);
  --dark-red: rgb(141, 10, 53);
  --orange: rgb(255, 102, 0);

  --h1-color: var(--blue);
  --h2-color: var(--magenta);
  --h3-color: var(--teal);
  --h4-color: var(--yellow);
  --h5-color: var(--green);
  --h6-color: var(--white);
}

body {
  --titlebar-text-color-focused: var(--pink);
}

.workspace-tab-header.is-active {
  color: var(--pink);
  font-weight: bolder;
}

.cm-header-1,
h1 {
  color: var(--h1-color);
  font-size: 2.3em;
  -webkit-text-stroke: 2px var(--dark-blue);
}

.cm-header-2,
h2 {
  color: var(--h2-color);
  font-size: 1.8em;
}

.cm-header-3,
h3 {
  color: var(--h3-color);
}

.cm-header-4,
h4 {
  color: var(--h4-color);
}

.cm-header-5,
h5 {
  color: var(--h5-color);
}

.cm-header-6,
h6 {
  color: var(--h6-color);
}

.cm-s-obsidian span.cm-inline-code {
  color: var(--green);
  font-weight: bold;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  background-color: var(--black);
  padding: 0 4px;
  border-radius: 4px;
  /*border: 1px solid var(--green);*/
}

.cm-strong,
strong {
  color: var(--pink);
}

.cm-strikethrough {
  color: var(--red);
}

.cm-em,
em {
  color: var(--blue);
}

.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:not([data-task=" "]) {
  color: var(--red);
}

/* Links */

.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link {
  color: var(--red);
}

.cm-s-obsidian span.cm-link .is-unresolved,
.cm-s-obsidian span.cm-hmd-internal-link .is-unresolved {
  color: var(--dark-gray);
}

.markdown-source-view.mod-cm6 .is-unresolved {
  opacity: 1;
}

.markdown-source-view.mod-cm6 .is-unresolved .cm-hmd-internal-link {
  color: var(--dark-gray);
}