:root {
  --default-font: "Poppins", "Helvetica", "Arial", sans-serif;
  --jr-blue: #289df1;
  --jr-indigo: #813efd;
  --jr-violet: #c800ff;
  --jr-red: #e41919;
  --jr-pink: #ff00a6;
  --jr-orange: #f2a343;
  --jr-yellow: #e1e819;
  --jr-green: #29de29;
  --jr-dark-green: #1a9c1a;
  --jr-black: #000000;
  --jr-gray2: #222222;
  --jr-gray8: #888888;
  --jr-grayA: #AAAAAA;
  --jr-grayD: #DDDDDD;
  --jr-white: #FFFFFF;
  --title-color: var(--jr-blue);
  --h1-color: var(--jr-indigo);
  --h2-color: var(--jr-violet);
  --h3-color: var(--jr-red);
  --h4-color: var(--jr-orange);
  --h5-color: var(--jr-yellow);
  --h6-color: var(--jr-green);
}

body {
  --titlebar-text-color-focused: var(--jr-pink);
}

.workspace-tab-header.is-active {
  color: var(--jr-pink);
  font-weight: bolder;
}

.inline-title {
  color: var(--jr-blue);
}

.HyperMD-header-1,
.cm-header-1,
h1 {
  color: var(--h1-color);
  font-size: 2.3em;
  -webkit-text-stroke: 2px var(--dark-blue);
}

.HyperMD-header-2,
.cm-header-2,
h2 {
  color: var(--h2-color);
  font-size: 1.8em;
}

.HyperMD-header-3,
.cm-header-3,
h3 {
  color: var(--h3-color);
}

.HyperMD-header-4,
.cm-header-4,
h4 {
  color: var(--h4-color);
}

.HyperMD-header-5,
.cm-header-5,
h5 {
  color: var(--h5-color);
}

.HyperMD-header-6,
.cm-header-6,
h6 {
  color: var(--h6-color);
}

.cm-s-obsidian span.cm-inline-code {
  color: var(--jr-green);
  font-weight: bold;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  background-color: var(--jr-black);
  padding: 0 4px;
  border-radius: 4px;
  /*border: 1px solid var(--green);*/
}

.cm-strong,
strong {
  color: var(--jr-pink);
}

.cm-strikethrough {
  color: var(--jr-red);
}

.cm-em,
em {
  color: var(--jr-blue);
}

.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:not([data-task=" "]) {
  color: var(--jr-red);
}

/* Links */
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link {
  color: var(--jr-red);
}

.markdown-source-view.mod-cm6 .is-unresolved {
  opacity: 1;
}
